- hosts: "{{ host2 }}"
  become: true
  tasks:

  - name: "Log into DockerHub"
    shell: docker login -u "{{ docker_user }}" -p "{{ docker_pass }}"
    
  - name: "Build image 2"
    shell: docker build -t "{{ docker_repo }}"/"{{ job_base_name }}"-webserver:"{{ build_number }}"
    
  - name: "Push image 2 to a private repo"
    shell: docker push "{{ docker_repo }}"/"{{ job_base_name }}"-webserver:"{{ build_number }}"
    
  - name: "Launch container image to start app"
    shell: docker run -d -p80:80 "{{ docker_repo }}"/"{{ job_base_name }}"-webserver:"{{ build_number }}"
