- hosts: "{{ host2 }}"
  become: true
  tasks:

  - name: "Log into DockerHub"
    shell: docker login -u "{{ user }}" -p "{{ pass }}"
    
  - name: "Build image 2"
    ignore_errors: yes
    shell: docker build -t "{{ docker_repo }}"/"{{ job_base_name }}"-webserver:"{{ build_number }}" /ansible/dockerfile
    
  - name: "Push image 2 to a private repo"
    ignore_errors: yes
    shell: docker push "{{ docker_repo }}"/"{{ job_base_name }}"-webserver:"{{ build_number }}"
    
  - name: "Launch container image to start app"
    ignore_errors: yes
    shell: docker run -d -p80:80 "{{ docker_repo }}"/"{{ job_base_name }}"-webserver:"{{ build_number }}"
    
  - name: "Pull alternate image for launching server"
    ignore_errors: yes
    shell: docker pull theironhidex/tripetto-angular:7   
    
  - name: "Launch alternate container image to start app"
    ignore_errors: yes
    shell: docker run -d -p81:80 theironhidex/tripetto-angular:7
