- hosts: "{{ host1 }}"
  become: true
  tasks:
  - name: "Pull image for launching server"
    shell: docker pull "{{ docker_repo }}"/"{{ job_base_name }}"-app:"{{ build_number }}"
    
  - name: "Launch container image to start app"
    shell: docker run -d -p80:80 "{{ docker_repo }}"/"{{ job_base_name }}"-app:"{{ build_number }}"
